################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
output.bmp
renderapp
build/build.log
.DS_Store
user/user.vcproj
user/user.vcxproj
user/user.vcproj
